@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.c-bk {
    &_foot {
        background: linear-gradient(to bottom, #531300, #AD6136);
    }

    &_sec2 {
        background: variable.$grade1;
    }

    &_sec3 {
        background: #F5E3C6;
    }

    &_sec4 {
        background: #e9cba7;
    }

    &_white {
        background-color: #fff;
    }

    &_main {
        background-color: #551501;
    }

    &_card {
        background: url(../img/pc/SupportBox.webp) 100% 100% no-repeat;
        padding: 60px 22px;
        width: 445px;
        height: 555px;
    }
}