@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-disp {
    &_flexblock {
        display: flex;

        @include mixin.mq(tab) {
            display: block;
        }
    }

    &_flexwpblock {
        display: flex;
        flex-wrap: wrap;

        @include mixin.mq(tab) {
            display: block;
        }
    }

    &_noneblock {
        display: none;

        @include mixin.mq(tab) {
            display: block;
        }
    }

    &_blocknone {
        @include mixin.mq(tab) {
            display: none;
        }
    }

    &_blocknonesp {
        @include mixin.mq(sp) {
            display: none;
        }
    }

    &_noneblocksp {
        display: none;

        @include mixin.mq(sp) {
            display: block;
        }
    }

    &_noneblknone {
        display: none;

        @include mixin.mq(tab) {
            display: block;
        }

        @include mixin.mq(sm) {
            display: none;
        }
    }

    &_noneblocksm {
        display: none;

        @include mixin.mq(sm) {
            display: block;
        }
    }
}