@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-h {
    &_50 {
        height: 50px;
    }

    &_270 {
        height: 270px;
    }

    &_planleft {
        height: 301px;

        @include mixin.mq(tab) {
            height: 303px;
        }
    }

    &_planright {
        height: 89px;

        @include mixin.mq(tab) {
            height: 136.08px;
        }
    }

    &_planright2 {
        height: 89px;

        @include mixin.mq(tab) {
            height: 151px;
        }

    }

    &_plan {
        height: 331.4px;

        @include mixin.mq(tab) {
            height: initial;
        }
    }

    &_pricegp {
        height: 386px;

        @include mixin.mq(tab) {
            height: 450px;
        }
    }
}