@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-m {
    &_mb25 {
        margin-bottom: 25px;
    }

    &_mb45 {
        margin-bottom: 45px;
    }

    &_mb60 {
        margin-bottom: 60px;
    }

    &_mb64 {
        margin-bottom: 64px !important;
    }

    &_mt64 {
        margin-top: 64px;
    }

    &_mt5 {
        margin-top: 5px;
    }

    &_mb95 {
        margin-bottom: 95px;
    }

    &_mya {
        margin-inline: auto !important;
    }

    &_mx0 {
        margin-inline: 0 !important;
    }
}