@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-txt {
    &_color1 {
        color: #fff;
    }

    &_size16 {
        font-size: 1.6rem;
    }

    &_size20 {
        font-size: 2rem;
    }

    &_size24 {
        font-size: 2.4rem;
    }

    &_size32 {
        font-size: 3.2rem;
    }

    &_size40 {
        font-size: 4rem;
    }

    &_size48 {
        font-size: 4.8rem;
    }

    &_center {
        text-align: center;
    }

}