@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-w {
    &_inner {
        width: 920px;
    }

    &_inner2 {
        @include mixin.mq(tab) {
            width: 345px;
        }
    }


    &_sec2list {
        width: 391px;
    }

    &_boxinner {
        max-width: 1440px;
        overflow-x: hidden;
    }

    &_supbar {
        width: 1079px;
    }

    &_cardtitle {
        width: 338px;
        margin-bottom: 25px !important;
    }

    &_cardtxt {
        width: 355px;
    }
}