@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-w {
    &_inner {
        width: 920px;
        max-width: 920px;
        margin-inline: auto;

        @include mixin.mq(tab) {
            width: 400px;
        }

        @include mixin.mq(sp) {
            width: 345px;
        }
    }

    &_inner2 {
        @include mixin.mq(tab) {
            width: 345px;
        }
    }

    &_sec2list {
        width: 391px;
        border-radius: 6px;
        margin-bottom: 10px !important;
    }

    &_boxinner {
        max-width: 1440px;
        overflow-x: hidden;
    }

    &_supbar {
        width: 1079px;
    }

    &_cardtitle {
        width: 338px;
        margin-bottom: 25px !important;

        @include mixin.mq(tab) {
            width: initial;
        }
    }

    &_cardtxt {
        width: 355px;

        @include mixin.mq(tab) {
            width: initial;
        }
    }

    &_bannergrp {
        max-width: 900px !important;
    }

    &_toplogo2 {
        @include mixin.mq(lpc) {
            width: clamp(19.691rem, 4.0337rem + 35.2989vw, 42.6rem);
        }
    }

    &_320tab {
        @include mixin.mq(tab) {
            width: 320px;
        }
    }

    &_330 {
        width: 330px;
    }

    &_336 {
        width: 336px;
    }

    &_num {
        width: 78px;
    }
}