@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.u-w {
    &_inner {
        width: 920px;
    }

    &_sec2list {
        width: 391px;
    }

    &_boxinner {
        max-width: 1440px;
        overflow-x: hidden;
    }

    &_supbar {
        width: 1079px;
    }
}