@use "../../Foundation/mixin";
@use "../../Foundation/variable";

.p-sup {
    &_img {
        border-radius: 10px;
        margin-bottom: 40px;
    }

    &_title {
        font-size: 3.2rem;
        font-weight: bold;
        color: #ae4627;

        @include mixin.mq(tab) {
            font-size: 2.328rem;
        }
    }

    &_disc {
        font-size: 1.6rem;
        color: #3f3c39;
        margin-top: 30px;

        @include mixin.mq(tab) {
            font-size: 1.164rem;
        }
    }

    &_lablebase {
        position: relative;
        left: -68px;
    }

    &_lablefont {
        position: absolute;
        top: 90px;
        left: 190px;
    }

    &_layout {
        padding-block: 64px;
    }
}